[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.5"

[packages]
scrapy = "*"
scrapy-splash = "*"
"beautifulsoup4" = "*"
python-dotenv = {extras = ["cli"], version = "*"}
pymongo = "*"
scrapyd = "*"
scrapyd-client = "*"
unidecode = "*"
nltk = "*"
rdflib = "*"
networkx = "*"
jupyter = "*"
matplotlib = "*"
pygraphviz = "*"

[dev-packages]
